# rest framework
# Django==1.9.13
# djangorestframework==3.6.4

Django==2.2.4
djangorestframework==3.10.3

# redis cache
# redis==2.10.5

# for access redis cache
# redisco==0.1.4
# django-redis==4.4.1

# for call rest api
# httplib2==0.9.2
httplib2==0.13.1

# for call openstack api
openstacksdk==0.9.15
os-client-config==1.29.0
python-cinderclient==3.5.0

# for onap logging
onappylog>=1.0.8

# for event
oslo_messaging

# for pecan framework
# uwsgi
pecan>=1.2.1
oslo.concurrency>=3.21.0
oslo.config>=4.11.0
oslo.service>=1.25.0
eventlet>=0.20.0
PyYAML>=3.1.0

pyvmomi
pyvim
fire
requests
paramiko
